.logo{

}
.container{
    background-color: white;
    /* border: 2px solid yellow; */
    min-height: 100vh;
    width: 100%;
}
h3{
    /* border: 2px solid yellow; */
    padding: 10px;
}
.hero{
    display: flex;
}
.left{
    width: 60%;
    font-size: 25px;
    font-weight: 650;
    font-style: normal;
    color: black;
    line-height: 40px;
}
h1{
    font-size: px;
}
button{
    padding: 20px;
    border: 4px solid rgba(red, green, blue, alpha);
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
}
.right{
    width: 40%;
    /* background-color: green; */
    border:5px;
}
/* .border{
    border: 2px solid blue; */

.card{
    margin: 50px;
    background-color:green;
    column-rule: black;
padding: 20px;
padding-bottom: 100px;
border-radius: 20px;
rotate:  -2deg;

}
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

/* .bricolage-grotesque-<uniquifier> { */
  font-family:"Bricolage Grotesque";sans-serif:;
  font-optical-sizing:auto
  font-weight::auto
  font-style:normal
  /* font-variation-settings:"width" 100; */